body {
    margin: 0;
    background: black;
    overflow-y: hidden;
}

#terminal {
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    height: calc(100vh - 20px);
    width: 100vw;
    z-index: -1;
    overflow-x: hidden;
}

.xterm-screen {
    height: 100vh!important;
}

.xterm-text-layer {
    padding: 10px 30px;
}

.dg.ac {
    z-index: 1000;
}

#clock {
    position: absolute;
    right: 40.5%;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}