body {
    margin: 0;
}

#terminal {
    right: 0;
    position: absolute;
    height: 100vh;
    width: 40vw;
    z-index: -1;
}

.xterm-screen {
    height: 100vh!important;
}

.dg.ac {
    z-index: 1000;
}

#clock {
    position: absolute;
    right: 40.5%;
}